@import url('https://fonts.googleapis.com/css?family=Lato');

body{
  background-color: #f2f2f2;
  margin: 0;
  font-family: Lato, sans-serif;
}

.header{
  background-color: #2d2f3b;
  height: 90px;
  color: white;
  border-bottom: 6px solid #4b4e61;
}

.nav{
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.logo{
  float: left;
  margin-top: 35px;
  font-size: 1.4rem;
}

.links{
  float: right;
  margin-top: 40px;
  font-size: 0.75rem;
  color: #4b4e61;
}

.links a{
  color: white;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;

}

.salmon{
  color: #f16c65;
}

.banner{
  background-color: #f16c65;
  padding: 20px 0;
  text-align: center;
}

.banner img{
  max-width: 780px;
  width: 90%;
}

@media screen and (max-width: 550px) {

.logo{
    float: none;
    margin-top: 0;
    text-align: center;
    padding-top: 15px;
  }

.links{
  float: none;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  }
}

.services{
  background-color: #f2f2f2;
  padding: 60px 40px;
  height: 498px;
  color: #666d89;
  border-bottom: 6px solid #FFFFFF;
  display: inline-block;
}

.pencil{
  max-width: 320px;
  float:left;
  margin: 0px;
  padding-right: 90px;
  padding-bottom: 30px;
}

.pencil img{
  display: inline;
  float: left;
  padding-right: 18px;
  padding-bottom: 60px;
  padding-top: 28px;
  display: inline;
}

.bulb{
  max-width: 320px;
  float: left;
  margin: 0px;
  padding-right: 90px;
  padding-bottom: 30px;
}

.bulb img{
  display: inline;
  float: left;
  padding-right: 18px;
  padding-bottom: 60px;
  padding-top: 28px;
  display: inline;
}


.heart{
  max-width: 320px;
  float: left;
  margin: 0px;
  padding-right: 90px;
  padding-bottom: 30px;
}

.heart img{
  display: inline;
  float: left;
  padding-right: 18px;
  padding-bottom: 60px;
  padding-top: 28px;
  display: inline;
}

.phone{
  max-width: 320px;
  float: left;
  margin: 0px;
  padding-right: 90px;
  padding-bottom: 30px;
}

.phone img{
  display: inline;
  float: left;
  padding-right: 18px;
  padding-bottom: 60px;
  padding-top: 28px;
}

.star{
  max-width: 320px;
  float: left;
  margin: 0px;
  padding-right: 90px;
  padding-bottom: 30px;
}

.star img{
  display: inline;
  float: left;
  padding-right: 18px;
  padding-bottom: 60px;
  padding-top: 28px;
  display: inline;
}

.support{
  max-width: 320px;
  float: left;
  margin: 0px;
  padding-right: 90px;
  padding-bottom: 30px;
}

.support img{
  display: inline;
  float: left;
  padding-right: 18px;
  padding-bottom: 60px;
  padding-top: 28px;
  display: inline;
}


.portfolio{
  background-color: #2d303a;
  padding: 60px 40px;
  height: 863px;
  color: #666d89;
  font-family: Lato, sans-serif;
  border-bottom: 6px solid #4b4e61;
  text-align: center;

}
.portfolio p{
  padding-left: 160px;
  text-align: left;
}

.portfolio h1{
  margin-left: 160px;
  text-align: left;
}
.portfolio div{
  margin-left: 160px;
  text-align: left;
}

.projects img{
  padding: 22px 0px;
  padding-right: 12px;
  max-width: 940px;
  width: 90%;
  text-align: center;
}

.buttons a{
  color: #666d89;
  text-decoration: none;
  border: 1px solid #666d89;
  border-radius: 6px;
  padding: 3px;
  margin-right: 8px;
}

.about{
  height: 730px;
  border-bottom: 6px solid #FFFFFF;
  background-color: #f2f2f2;
  padding: 60px 40px;
  color: #666d89;
  overflow:hidden;
  margin-left: 120px;
}

.about img{
  padding-right: 58px;
  padding-top: 26px;
  text-align: center;
  max-width: 860px;
}

.about p{
  max-width: 975px;
}

.adam{
float:left;
margin: 0px;
padding-right: 20px;
max-width: 330px;
}

.des{
float:left;
margin: 0px;
padding-right: 20px;
max-width: 330px;
}

.scolara{
float:left;
margin: 0px;
padding-right: 20px;
max-width: 330px;
}

.quote{
  height: 730px;
  border-bottom: 6px solid #ea676b;
  background-color: #f06c64;
  padding: 60px 40px;
  color: #f0d8d9;
}

.information{
  max-width: 600px;
  float:right;
  margin-top: 30px;
}

.information img{
  padding-top: 20px;
  overflow: hidden;
}

.information ul{
  float:right;
  list-style: none;
  margin-right: 386px;
}

.name{
  height: 40px;
  width: 620px;
  background-color: #d6564f;
  margin-top: 60px;
}

.email{
  height: 40px;
  width: 620px;
  background-color: #d6564f;
}

.subject{
  height: 40px;
  width: 620px;
  background-color: #d6564f;
}

.detail{
  height: 202px;
  width: 620px;
  background-color: #d6564f;
}

.footer{
  height: 20px;
  background-color: #2d2f3b;
  padding: 40px 36px;
  color: #666d89;

}

.footer img{
  float: right;
}
